

div{
    border: 1px solid #70b5ee;
    background-color: #86e0fb;
    font-style: italic;
    text-align: right
}
*{ background-color: #7fb6f2}


.certeza{
    width: 100vw;
}
.container{
    margin-left: 0%;
    padding-left: 0% ;
}